<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/bazinga.css"/>
        {% block head %}
         <title>    {% block title %} {% endblock %}</title>
        {% endblock %}
        </title>
  </head>

  <body>
       <center>
       <a href = "/"> <button type="button" name ="LI"> Homepage </button>  </a>
       <br>
       {% if errors %}
       <font color = 'red'> {% set msgs = get_flashed_messages() %}{# program is now  aware there are flash messages #}
            {% for each in msgs %}{# Loops through messages #}
                <br>{{each}}
                <br>
            {% endfor %}
       </font>
       {% endif %}
       {% if good %}
       <font color = 'lime'> {% set msgs = get_flashed_messages() %}{# program is now  aware there are flash messages #}
            {% for each in msgs %}{# Loops through messages #}
                <br>{{each}}
                <br>
            {% endfor %}
       </font>
       {% endif %}

        {% block content %}

        {% endblock %}

     {% block footer %}
     &copy; Copyright -- azrael 2018
     {% endblock %}
     </center>
</body>

</html>
