<!DOCTYPE html>
<html>
   {% extends "base.html" %}
  <head>

  </head>
  <body>

    <form action="/auth" method="post">
      <p>Sign up my dude </p>

      Username: <input type="text" name="username" value = "men">   <font color="red"> {{newUser}} </font>
      <br>
      Password: <input type="password" name="password" value = "men">   <font color="red"> {{newPass}} </font>
      <br>
      <input type="submit" name="submit" value = "register">
    </form>

</br>
<a href = "/root"><button type="button" name ="LI">HomePage</button>  </a>

  </body>

</html>
