{% extends "base.html" %}
{% block title %} azrael Stories - Register {% endblock %}
{% set msgs = get_flashed_messages() %}
{% for each in msgs %}
{{each}}
<br>
{% endfor %}
{% block content %}
{% if get_flashed_messages()|length==0 %}
<img src="static/bazinga.jpg"/>
{% else %}
<img src="static/bazinga_angry.jpg"/>
{% endif %}
<br/>
<h3><i> Register for an azrael account </h3></i>
  <form action="/auth" method="POST">

    <b>
         Username: <input type = "text" name = "username" placeholder = "user" required>
         <br><br>
         Password&#160;: <input type = "password" name = "password" placeholder = "password" required>
    </b>
    <br><br>
    <input type="submit" name="submit" value = "Register">
    <br><br>
  </form>

{% endblock %}
