{% extends "base.html" %}
{% block title %} azrael Stories - {{ user_name }} {% endblock %}
{% block content %}
<br><br>
<form action = '/logout'>
     <input type="submit" name="submit" value = "Logout">
</form>
<img src="static/bazinga_happy.jpg"/>
<h3> {{user_name}}'s Page </h3>

{% if contributed %}
<h4> Stories Contributed To </h4>
<table>
     <thead>
          <tr>
               <td> <b> Story Title &emsp;</b> </td>
               <td> <b> Story's Page </b> </td>
          </tr>
     </thead>
     <tbody>
          {% for story in stories %}
          <tr>
               <td>
                    {{story}}
               </td>
               <td>
                    <form action = '/viewstory' method = 'POST'>
                         <input type="submit" name="submit" value = "{{story}}">
                    </form>
               </td>
          </tr>
          {% endfor %}

</table>
{% endif %}

{% if not contributed %}
   <p> Looks like you haven't contributed to anything. Get started below! </p>
{% endif %}
<br>
<a href = "/creator"><button type="button" name ="create">New Story</button>  </a> <br><br>
<a href = "/viewothers"><button type="button" name ="view">Add to Other Stories</button>  </a><br><br>

<br><br>
<br>
{% endblock %}
